body {
    background-color: black;
}

#heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    font-size: 250%;
}

#searchBar::placeholder{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 145%;
    text-align: center;

}

#input {
    margin-top: 150px;
}

#searchBar {
    width: 700px;
    height: 30px;
    align-content: center;
    margin-left: 350px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 140%  ;
    height: 45px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #a0a0a0;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
  }

#searchBar:focus {
    background-color: #1c1d26;
    color: #d1d1d1; 
}
  
#button {
    background-color: #444141;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    border: none;
    color: rgb(248, 242, 242);
    background-color: #434040;
   }
   
   #button:hover {
    background-color: rgb(208, 207, 207);
    color: #434040;
   }
   


#output {
    color: aliceblue;
    margin-top: 50px;
    text-align: center;
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 10px;
    margin-bottom: 30px;
}

#output pre {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 245%;
    line-height: 1;
}

